%p
%a#openBtn.btn.btn-default{url: add_comment_location_course_assignment_submission_path(@location, @course, @assignment,@submission, @comment) } Add Comment
#myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-body
  = form_tag add_comment_location_course_assignment_submission_path(@location, @course, @assignment,@submission, @comment), method: :post, remote: true
  = text_area_tag "comment[comment]", "", placeholder: "Comment"
  = submit_tag "Save"
  .modal-footer
    %button.btn{"data-dismiss" => "modal"} Close
  